img{
    height: 80px;
    border-radius: 10px;
}

.me-auto{
    display: flex;
    text-align: right;
    float: right;
}

.bg-body-tertiary{
    /* justify-content: space-between;
    display: flex; */
    background-color: rgb(3, 12, 12);
}
.Container{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* text-align: right; */
}